body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://raw.githubusercontent.com/MillatSakib/IoT_Project/main/Control_Panel/aurora.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



.login-container {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 310px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(255, 211, 211, 0.473);
}

input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    
}

button {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}
