#loading-animation {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Set a higher z-index value */
  /* Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
}

.online {
  color: rgb(74, 255, 74);
  font-size: 25px;
}
.offline {
  color: rgb(255, 79, 79);
  font-size: 25px;
}
.error {
  color: rgb(255, 104, 104);
  font-size: 30px;
}

h1{
    font-size:50px;
    font-style: normal;
    text-decoration: underline;
    color: #ffffff;
    
}
body {
    color: #ffffff;
    display:grid;
    font-size:20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://raw.githubusercontent.com/MillatSakib/IoT_Project/main/Control_Panel/aurora.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  
  .toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f76666;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #21f372;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .label {
    margin-right: 10px;
  }
  
  .toggle {
    margin-right: 10px;
  }
  
  .toggle input {
    display: none;
  }
  
  .slider {
    /* your existing styles for the slider */
  }
  
  #message {
    /* additional styles for the message */
  }
  